package components

templ Area() {
<div>
  <form class="auth-form">
    <input type="text" class="input-primary" name="id" />
    <input type="text" class="input-primary" name="key" />
    <button class="button-primary">Continue</button>
  </form>
</div>
}